<div class="header-container">
  <h1>Еда в Пиз<s>д</s>е</h1>
</div>
<h1>Перекус</h1>

<h2>L'Ostellino de' I Porci Comodi</h2>
<app-image
  src="./assets/images/pisa-food.jpg"
  description="L'Ostellino de' I Porci Comodi"
></app-image>
<p class="attention">Открывается в 11AM</p>
<p>Кажется со стороны, что обычная забегаловка, а считается самым топовым food-место Пизы. Очень дешево и быстро можно перекусить.</p>
<app-navigate-button
  destinationId="ChIJG5665OiR1RIRS0dQnKmIGEw"
  destination="L'Ostellino de' I Porci Comodi"
>
  Кушать тут!
</app-navigate-button>

<h2>Capatosta</h2>
<app-image
  src="./assets/images/pisa-coffee.jpg"
  description="Capatosta"
></app-image>
<p class="attention">Открывается в 7AM</p>
<p>Лучшее место, чтобы забежать за кофе с круассаном. Цены приятные, один из лучших кофе в городе.</p>
<app-navigate-button
  destinationId="ChIJobonnqKR1RIRBYGS-07wMuE"
  destination="Capatosta"
>
  Кофе тут!
</app-navigate-button>
