<div class="header-container">
  <h1>Достопримечательности</h1>
</div>

<p>Данный гайд подготовлен alex.bagatka, поэтому все скучные места присутствуют исключительно из-за неопытности выбранного вами оператора туров. Приносим свои извинения</p>

<h1>Самое главное</h1>

<h2>1) Пизанская башня</h2>
<app-image
  src="./assets/images/piza-tower.jpg"
  description="Пизанская башня"
></app-image>
<p>Самая знаменитая достопримечательность Пизы, известная на весь мир благодаря ошибке, допущенной при строительстве. Сооружение входит в архитектурный комплекс Пизанского собора и является его колокольней. Башня возводилась на протяжении XII- XIV веков по проекту Б. Пизано. Практически сразу постройка начала отклоняться от вертикальной оси, из-за чего работы постоянно приостанавливались. Дефект исправить так и не получилось, но неумолимое падение башни удалось остановить, зафиксировав крен на уровне 3,54°.</p>
<app-navigate-button
  destinationId="ChIJzYhOxKaR1RIRA_xU1bGp7DI"
  destination="Пизанская башня"
>
  Покажи путь к башне!
</app-navigate-button>

<h2>2) Пизанский собор</h2>
<app-image
  src="./assets/images/piza-piazza.jpg"
  description="Пизанский собор"
></app-image>
<p>Кафедральный храм города Пиза, расположенный на Пьяцца-дель-Дуомо. В архитектурный комплекс входит само здание собора, колокольня (знаменитая падающая башня) и баптистерий. Ансамбль был возведен в период XI-XIII вв. в «пизанском» романском стиле, который объединил элементы ломбардской, византийской и исламской манеры строительства. В отделке фасада и интерьера в больших количествах использовался белый и черный мрамор.</p>
<app-navigate-button
  destinationId="ChIJP6viXqeR1RIR4YESbSqoNks"
  destination="Пизанский собор"
>
  Где собор на карте?
</app-navigate-button>

<h2>3) Баптистерий Святого Иоанна</h2>
<app-image
  src="./assets/images/pisa-ioann.jpg"
  description="Баптистерий Святого Иоанна"
></app-image>
<p>Великолепная готическая постройка XII-XIV вв., возведенная по проекту архитектора Диотисальви. Баптистерий считается самым крупным в Италии. В высоту здание достигает 55 метров, диаметр кольца стен – 34 метра. По первоначальному проекту сооружение планировалось возвести в романском стиле, но продолжительность строительных работ почти в 200 лет позволила добавить в облик более изящные черты готической манеры.</p>
<app-navigate-button
  destinationId="ChIJnSCTwgmR1RIR0PAlUy8cLUk"
  destination="Баптистерий Святого Иоанна"
>
  Баптистерий сюда!
</app-navigate-button>

<h2>4) Кладбище Кампо-Санто</h2>
<app-image
  src="./assets/images/pisa-deadplace.jpg"
  description="Кладбище Кампо-Санто"
></app-image>
<p>Некрополь XIII века, расположенный в северной части Пьяцца-деи-Мираколи. Предполагалось, что на месте кладбища должна была быть построена церковь, однако в ходе работ проект был изменен. Кампо-Санто – достаточно необычное место, так как захоронения расположены в каменной стене под сводами арочной галереи, которая окружат внутренний двор. На территории кладбища есть три часовни. До XVIII века в этом некрополе хоронили представителей высших слоев Пизы.</p>
<app-navigate-button
  destinationId="ChIJzYhOxKaR1RIRB1vlGZvQiuw"
  destination="Кладбище Кампо-Санто"
>
  Кладбище туть!
</app-navigate-button>

<h2>5) Площадь рыцарей</h2>
<app-image
  src="./assets/images/pisa-knights.jpg"
  description="Площадь рыцарей"
></app-image>
<p>На протяжении многих столетий площадь была важным общественным местом, где объявлялись указы властей, праздновались победы и обсуждалась политическая ситуация. Пьяцца была построена в период Раннего Средневековья на месте бывшего римского форума. Она окружена палаццо и административными зданиями, возведенными преимущественно XVI-XVII столетиях. В 1406 году на Площади рыцарей было объявлено о независимости Пизы.</p>
<app-navigate-button
  destinationId="EihQLnphIGRlaSBDYXZhbGllcmksIDU2MTI2IFBpc2EgUEksIEl0YWx5Ii4qLAoUChIJa9_I2aOR1RIRTfYpCauVU9USFAoSCY9Z9vCakdUSEch4hKe1D7iq"
  destination="Площадь рыцарей"
>
  Идём на площадь!
</app-navigate-button>

<h2>6) Дворец Каравана</h2>
<app-image
  src="./assets/images/pisa-karavana.jpg"
  description="Дворец Каравана"
></app-image>
<p>Сооружение XVI века, ранее выполнявшее функции дома рыцарей, принадлежавших к тосканскому ордену Святого Стефана. Здание было возведено по проекту архитектора Д. Вазари. В наши дни на территории дворца размещено высшее учебное заведение. Посещение палаццо возможно только во время отсутствия лекций. Фасад здания расписан в технике сграффито, на нем изображены знаки зодиака и символические фигуры, окруженные растительным орнаментом.</p>
<app-navigate-button
  destinationId="ChIJ5ebd16OR1RIR4PDlSqLxUDQ"
  destination="Дворец Каравана"
>
  В Дворец Каравана!
</app-navigate-button>

<h2>7) Ботанический сад Пизы</h2>
<app-image
  src="./assets/images/pisa-park.jpg"
  description="Ботанический сад Пизы"
></app-image>
<p>Сад был основан в XVI веке ботаником Л. Гини на средства тосканского правителя – герцога Козимо I. Он считается одним из самых старых ботанических садов не только в Италии, но и во всем мире. В 1595 году здесь было возведено здание, в котором расположился институт по исследованию растений. Растительное разнообразие сада объединяет около 550 видов, собранных из разных частей Европы и мира. Дендрарий находится под управлением Пизанского университета.</p>
<app-navigate-button
  destinationId="ChIJ47e98qCR1RIREYdyULW8aL0"
  destination="Ботанический сад Пизы"
>
  В сад!
</app-navigate-button>
<h1>Заключение</h1>
<p class="last-p ">На самом деле в городе есть мелкие фонтаны и огромное количество церквей, но все они не особо примечательны после увиденного в Болонье и Флоренции.</p>
