<div class="header-container">
  <h1>Достопримечательности Флоренции</h1>
</div>
<app-image
  src="./assets/images/florance-ent-main-card.jpg"
  description="Вид на Санта-Мария-дель-Фьоре"
>
</app-image>
<h1>Основные</h1>
<p>Флоренция разделена рекой Арно на две части. Основные достопримечательности находятся в северной части города, и, естественно, большинство туристов предпочитают остановиться именно здесь. Южная часть, которая называется Oltrarno (за Арно), особенно зона Санто-Спирито, считается более «богемной» – здесь много мастерских ремесленников, антикварных лавочек, уютных баров и трактирчиков.</p>
<h2>Главные площади</h2>
<p><span>Соборная Площадь</span> (Piazza Duomo) – площадь в историческом центре Флоренции, Италия, одно из самых посещаемых мест Европы и мира. Здесь находится множество памятников архитектуры, в том числе собор Санта-Мария-дель-Фьоре, кампанила Джотто и баптистерий Сан-Джованни. Западная часть площади носит название «площадь Сан-Джованни».</p>
<app-image
  src="./assets/images/piazza-del-duomo.jpg"
  description="Соборная Площадь"
>
</app-image>
<app-navigate-button
  destinationId="EilQaWF6emEgZGVsIER1b21vLCA1MDEyMiBGaXJlbnplIEZJLCBJdGFseSIuKiwKFAoSCe0zG8IDVCoTERqOLPI2WRgmEhQKEgnfTKTToFYqExHZl2CJaKVFug"
  destination="Piazza Duomo"
>
  Вперёд!
</app-navigate-button>
