<div class="header-container">
  <h1>Интересные факты о Пизе</h1>
</div>
<h2>Население Пизы на 2020 год составляло около 95000 человек, что соизмеримо с Молодечно.</h2>
<h2>Происхождение названия Пиза является загадкой.</h2>
<h2>После того, как город пал во Флоренцию в 1406 году , двор Медичи поддержал великие художественные, литературные и научные усилия и восстановил Пизанский университет, где в конце 16 века преподавал самый известный сын города, Галилео Галилей</h2>
<h2>В Пизе находится Пизанский университет , особенно известный в области физики, математики, инженерии и информатики.</h2>
<h2 class="last-p">В городе также есть Scuola Normale Superiore di Pisa , основанная Наполеоном в 1810 году, и ее ответвление, Школа перспективных исследований Сант-Анна , как наиболее санкционированные высшие школы последипломного образования в Италии.</h2>
